* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template: 'header' 100px 'menu' 100px 'main ' 1fr 'footer' 150px;
  height: 150vh;
  width: 100vw;
  grid-gap: 10px;
  padding: 20px;
}

/*Header*/

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 200px 200px 1fr 200px 200px;
  background-color: white;
  padding-right: 100px;
  padding-left: 50px;
  grid-gap: 10px;
}

.header .search {
  display: grid;
  grid-auto-rows: 40px 40px;
}

.header .signIn a,
.header .signIn a:hover {
  display: grid;
  justify-items: center;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px;
  background-color: orange;
  font-weight: 900;
  border-radius: 7px;
}

.header .basket a {
  display: grid;
  justify-items: center;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px;
  background-color: orange;
  font-weight: 900;
  border-radius: 7px;
  grid-template-columns: 30px 1fr;
}

.topSearch {
  display: grid;
  border: 2px solid black;
  grid-template-columns: 1fr 40px;
  padding-top: 5px;
  padding-left: 5px;
}

/*Header*/

/*menu*/

.menu ul {
  grid-area: menu;
  display: grid;
  grid-template-columns: 150px 150px 150px 1fr 1fr 1fr 200px;
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  padding-top: 10px;
  font-size: larger;
  font-weight: bold;
}

.menu ul li {
  display: inline;
}

.menu li {
  list-style: none;
}

/*menu*/

/*main*/

.main {
  grid-area: main;
  background-color: bisque;
}

/*main*/

/*footer*/

.footer {
  grid-area: footer;
  background-color: violet;
  padding: 10px;
}

.top-footer {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  place-content: center;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: medium;
}

.address .contact-num,
.address .email {
  font-size: small;
}

.bottom-footer .energy-institute {
  text-align: center;
  font-size: small;
}

/*footer*/

/* media queries */

@media screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template: 'header' 100px 'main ' 1fr 'footer' 150px;
    height: 150vh;
    width: 100vw;
    grid-gap: 10px;
    padding: 20px;
  }
  .menu {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .header {
    grid-area: header;
    display: grid;
    grid-template-columns: 100px 100px 1fr 100px 100px;
    background-color: white;
    padding-right: 100px;
    padding-left: 50px;
    grid-gap: 10px;
  }
}
